<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta name="google-site-verification" content="iYi9pN5SonWiDDOE30lxZoNbUOcXSvg6pHRT4KDwEJQ" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="iYi9pN5SonWiDDOE30lxZoNbUOcXSvg6pHRT4KDwEJQ" />
  <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="icon" sizes="16*16" type="image/png" href="{% static 'images/vee.halli.png' %}">
  <title>Veeresh Halli </title>
</head>

<body>
  <div class="total">
    <div class="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#" data-aos="slide-down" data-aos-duration="1000">Veeresh Halli</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active" data-aos="slide-down" data-aos-duration="1200">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" data-aos="slide-down" data-aos-duration="1400">
              <a class="nav-link" href="#AboutMe">About</a>
            </li>
            <li class="nav-item" data-aos="slide-down" data-aos-duration="1600">
              <a class="nav-link " href="#work">Work</a>
            </li>
            <li class="nav-item" data-aos="slide-down" data-aos-duration="1800">
              <a class="nav-link " href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="bg">
      <div class="container ">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 introrow ">
            <p data-aos="slide-right" data-aos-duration="1000">Hello,</p>
            <h1 data-aos="slide-right" data-aos-duration="1500">I'm Veeresh Halli</h1><br>
            <h4 data-aos="slide-right" data-aos-duration="2000">I am Web Developer</h4>
            <h4 data-aos="slide-right" data-aos-duration="2000">& Designer</h4>
            <br>
            <a href="{% static 'Veeresh-Halli.pdf' %}" download="True" class="btn btn-sm btn-dark " data-aos="slide-right"
              data-aos-duration="4000">Download CV</a><br>
            <a href="https://www.linkedin.com/in/veeresh-halli-58b389201/"><i class="icon fab fa-linkedin"
                data-aos="slide-down" data-aos-duration="4000"></i></a>
            <a href="https://github.com/Veeresh-Halli" data-aos="slide-right"><i class="icon fab fa-github"
                data-aos="slide-down" data-aos-duration="4000"></i></a>
            <a href="https://www.instagram.com/vee.halli/"><i class="icon fab fa-instagram" data-aos="slide-down"
                data-aos-duration="4000"></i></a>
          </div>

          <div class="col-lg-6 col-md-6 col-12 intro">
            <img src="{% static 'images/vee.halli.png' %}" class="img-fluid" data-aos="slide-down" data-aos-duration="3000"
              alt="Veeresh Halli main image">
          </div>
        </div>
      </div>



      <section id="AboutMe">
        <div class="container aboutrow ">
          <h3 class="text-center pt-5" data-aos="slide-down" data-aos-duration="2000">About Me</h3>
          <hr class="w-25 mx-auto bg-dark" data-aos="slide-down" data-aos-duration="2000">
          <div class="card card-body mt-5" data-aos="slide-down" data-aos-duration="2000">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12 ">
                <img src="{% static 'images/Veeresh Halli.png' %}" width=300px class="smallpic" data-aos="slide-down"
                  data-aos-duration="2000" alt="Veeresh Halli about me image">
              </div>

              <div class="col-lg-6 col-md-6 col-12">


                <h5 data-aos="slide-down" data-aos-duration="3500">Self taught programmer & Built ugly prototypes at
                  first.</h5>
                <p data-aos="slide-down" data-aos-duration="3500">I can learn just about anything by having a final
                  product to tear part piece by piece.I break the code where i need to figure out why things work the
                  way they do.</p>
                <p data-aos="slide-down" data-aos-duration="3500">Aside from building small projects I would love to
                  enter a position where I can be a part of a bigger team and learn from others with more experience
                  than myself.</p>
                <a href="{% static 'Veeresh-Halli.pdf' %}" download="True" class="btn btn-sm btn-dark ">Download CV</a>
              </div>
            </div>
          </div>

          <div class="row ml-1 mt-4 mb-5">
            <div class="col-md-10">

              <p class="try" data-aos="slide-right" data-aos-duration="2000">HTML5</p>
              <div class="progress" data-aos="slide-right" data-aos-duration="2500">
                <div class="progress-bar bg-dark" style="width:80%">80%</div>
              </div>

              <p class="try mt-3" data-aos="slide-right" data-aos-duration="2000">CSS3</p>
              <div class="progress" data-aos="slide-right" data-aos-duration="2500">
                <div class="progress-bar bg-dark" style="width:75%">75%</div>
              </div>

              <p class="try mt-3" data-aos="slide-right" data-aos-duration="2000">UI/UX</p>
              <div class="progress" data-aos="slide-right" data-aos-duration="2500">
                <div class="progress-bar bg-dark" style="width:90%">90%</div>
              </div>

              <p class="try mt-3" data-aos="slide-right" data-aos-duration="2000">Django</p>
              <div class="progress" data-aos="slide-right" data-aos-duration="2500">
                <div class="progress-bar bg-dark" style="width:70%">70%</div>

              </div>
            </div>


          </div>
      </section>
    </div>

    <section id="work">
      <div class="container">
        <h3 class="text-center pt-5" data-aos="slide-down" data-aos-duration="2000">Work</h3>
        <hr class="w-25 mx-auto bg-dark" data-aos="slide-down" data-aos-duration="2500">
        <div class="card card-body mt-5" data-aos="slide-down" data-aos-duration="2000">
          <h3 data-aos="slide-down" data-aos-duration="3000">CRM</h3>
          <hr>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12 text-center mt-2">
              <embed style="width:300px; height:200px; padding-right:10px;" src="https://youtube.com/embed/0ZEzJE2YO_g">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <h3 class="pt-2" data-aos="slide-down" data-aos-duration="3500">Project Detail :</h3>
              <hr>
              <P>CRM is a management system completely built using Django as back-end web framework and HTML,CSS and
                Bootstrap as front-end.CRM has authorisation and authention features to provide more control over the
                web application.Admins and customers have different forms to register themselves as repective.</P>
            </div>

          </div>
        </div>

        <div class="card card-body mt-3" data-aos="slide-down" data-aos-duration="3000">
          <h3 data-aos="slide-down" data-aos-duration="3000">RedStore</h3>
          <hr>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12 text-center mt-2">
              <embed style="width:300px; height:200px; padding-right:10px;" src="https://youtube.com/embed/3H80r9e5G1o">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <h3 class="pt-2" data-aos="slide-down" data-aos-duration="3500">Project Detail :</h3>
              <p>RedStore is an e-commerce web application completely built using Django as back-end web framework and
                HTML,CSS,Bootstrap and JavaScript as front-end.It is integrated with PayPal API for the checkout.</p>
            </div>

          </div>
        </div>

        <div class="card card-body mt-3" data-aos="slide-down" data-aos-duration="2000">
          <h3 data-aos="slide-down" data-aos-duration="3000">Signal</h3>
          <hr>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12 text-center mt-4">
              <embed style="width:300px; height:200px;padding-right:10px;" src="https://youtube.com/embed/S4aniV8T_2U">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <h3 class="pt-2" data-aos="slide-down" data-aos-duration="3500">Project Detail :</h3>
              <p>Siganl is a monitoring web application completely built using Django as back-end web framework.HTML
                and Bootstrap as front-end.Siganl web application provides features like:<br>
                1)How many users using the web appliaction current;y and shows their username.<br>
                2)Total users login count.<br>
                3)Particular user login count within 24hrs.<br>
                4)User IP Addresses.<br>
                5)Which browser user is using.<br>
              </p>
            </div>

          </div>
        </div>



      </div>

    </section>

    <section id="contact">
      <div class="container pt-5">
        <h3 class="text-center pt-5" data-aos="slide-down" data-aos-duration="2000">Get In Touch</h3>
        <hr class="w-25 mx-auto bg-dark" data-aos="slide-down" data-aos-duration="2000">
        <div class="col-lg-6 col-md-6 col-12 mx-auto" data-aos="slide-down" data-aos-duration="3000">
          <div class="card card-body mt-5 pb-2">
            <h5>Address : <i class="fas fa-map-marker-alt"></i> Gulbarga,Karnataka,IN</h5>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-12 mx-auto" data-aos="slide-down" data-aos-duration="3000">
          <div class="card card-body mt-2 pb-2">
            <h5>Phone : <i class="fas fa-phone-alt"></i> +91-8904430306</h5>
          </div>
        </div>



        <div class="col-lg-6 col-md-6 col-12 mx-auto" data-aos="slide-down" data-aos-duration="3000">
          <div class="card card-body mt-2 pb-2 ">
            <h5>Email : <i class="fas fa-envelope"></i> veereshhalli.vh@gmail.com</h5>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-12 mx-auto" data-aos="slide-down" data-aos-duration="3000">
          <div class="card card-body mt-2 pb-2">
            <h5>Get Social : <a href="https://www.linkedin.com/in/veeresh-halli-58b389201/"><i
                  class="contacticon fab fa-linkedin"></i></a>
              <a href="https://github.com/Veeresh-Halli"><i class="contacticon fab fa-github"></i></a>
              <a href="https://www.instagram.com/vee.halli/"><i class="contacticon fab fa-instagram"></i></a>
            </h5>
          </div>
        </div>


      </div>


    </section>



    <section id="footer">
      <div class="container text-center pt-5">

        <h3 class="mt-5">Veeresh Halli</h3><br>
        <a href="https://www.linkedin.com/in/veeresh-halli-58b389201/"><i class="icons fab fa-linkedin"></i></a>
        <a href="https://github.com/Veeresh-Halli"><i class="icons fab fa-github"></i></a>
        <a href="https://www.instagram.com/vee.halli/"><i class="icons fab fa-instagram"></i></a>
        <p><i class="far fa-copyright"></i>2021 copyright all rights reserved</p>
      </div>




    </section>
  </div>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init(
      {
        offset: 50,


      }
    );
  </script>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>